body {
    background-color: #F8F9FA;
    font-family: sans-serif;
}

.btn-bold {
    font-weight: bold;
}

.btn-italic {
    font-style: italic;
}

.btn-strikethrough {
    text-decoration: line-through;
}

.btn-mono {
    font-family: monospace;
}

.btn-list::before {
    content: "• ";
}

.btn-numbered-list::before {
    content: counter(item) ". ";
    counter-increment: item;
}
